* {
    box-sizing: border-box;
    font-size: 12px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 92px;
    margin: 0 auto;
    box-shadow: gray 0px 3px 10px;
}

.place {
    height: 92px;
    width: 220px;
    margin-right: 15px;
    margin-left: 15px;
}

label {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
}

img {
    height: 22px;
}

input {
    font-family: 'Fira Sans', sans-serif;
    border: none;
    font-size: 1.3rem;
    margin-left: 5px;
    height: 35px;
}

input[type=number] {
    width: 35px;
    border: #8b9198 solid 1px;
    border-radius: 2px;
    text-align: center;
}

.entry {
    display: inline-block;
    margin-left: 15px;
    height: 92px;
}

.leaving {
    margin-left: 15px;
}

.arrowUp, .arrowUpAdults, .arrowUpChildren {
    height: 0px;
    width: 0px;
    border: 7px solid transparent;
    border-bottom: #ed9915 solid 7px;
    position: absolute;
    top: -7px;
}

.arrowDown, .arrowDownAdults, .arrowDownChildren {
    height: 0px;
    width: 0px;
    border: 7px solid transparent;
    border-top: #ed9915 solid 7px;
    position: absolute;
    bottom: -16px;
}

.wrap {
    display: inline-block;
}

.wrap label {
    margin-left: 5px;
}

.arrowDown, .arrowDownAdults, .arrowDownChildren, .arrowUp, .arrowUpAdults, .arrowUpChildren:hover {
    cursor: pointer;
}

.arrows {
    width: 35px;
    height: 20px;
    position: relative;
    display: inline-block;
}

.buttons {
    display: flex;
    height: 92px;
    align-items: center;
}

.plusBtn {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url("plusBtn.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px 5px;
}

.plusBtn, .findBtn:hover {
    cursor: pointer;
}

.findBtn {
    width: 175px;
    height: 65px;
    background-color: #ed9915;
    color: white;
    border: none;
    font-size: 1.3rem;
}

/*Убираем стрелки у числовых инпутов*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 1170px) {
    .container {
        height: 184px;
    }
}
